.buttonselect {
    background-color: #0095f6;
    background-color: rgba(var(--d69,0,149,246),1);
    border: 1px solid transparent;
    border-radius: 4px;
    color: #fff;
    color: rgba(var(--eca,255,255,255),1);
    // position: fixed;
    cursor: pointer;
    justify-content: center;
    position: absolute;
    margin-top: 280px;
}
.buttonselectGreen {
    background-color: #57c990;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #fff;
    color: rgba(var(--eca,255,255,255),1);
    // position: fixed;
    cursor: pointer;
    justify-content: center;
    position: absolute;
    margin-top: 180px;
}
.uploadImageDone {
    margin-top: 280px;
}
.AnimationVideoCss  {
    display: "block";
    margin:'auto';
    width: 150px;
    height: 120px;
    margin-top: 100px;  
    -webkit-user-drag: none
};
.img {
    display: block;
    width: auto;
    height: 100%;
    -webkit-user-drag: none
  };
  .containerShowImages {
      width: 10px;
      height: 10px;
      display: flex;
      flex-direction: row;
      flex-wrap: row;
      margin-top: 16;
  }