// Bar in the last window (apps)

.BarApps {
  width: fit-content;
  height: fit-content;
  margin: auto;
  align-items: center;
  padding-top: 7.9px;
  box-shadow: 10px 20px 90px rgba(0, 0, 0, 150);
  overflow: hidden;
  background: rgb(255, 255, 255);
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  margin-top: 19px;
  opacity: 0.6;
  border-radius: 20px;
  position: sticky;
  z-index: 999px;
  bottom: 0px;
}

.AppsIcons > center {
  display: inline-block;
  border-radius: 10px;
  position: relative;
  backdrop-filter: blur(10px);
  border: 2px solid transparent;
  background-clip: border-box;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  display: flex;
}