// Bar top of the window

.BarDisplayRight {
  display: flex;
  width: calc(100% - 15px);
  min-height: calc(100vh - 98vh);
  border-radius: 999px;
  margin-top: -32px;
  margin-left: -11px;
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  overflow-wrap: break-word;
  border-radius: 4.75rem;
  flex-direction: row-reverse;
}
.BarDisplayIconsRight {
  display: flex;
  transition: opacity 250ms ease 0s;
}
.iconBack {
  color: gray;
}
.iconNext {
  color: gray;
}
.iconRefresh {
  color: gray;
}
.BarDisplayIconsLeft {
  display: flex;
  transition: opacity 250ms ease 0s;
  margin-top: -25px;
}
.IconTop {
  width: 23px;
  height: 23px;
  cursor: pointer;
  transition: transform 250ms;
  margin-left: 10px;
  opacity: 0.7;
}

.IconTop:hover {
  transition: transform 350ms;
  transform: translateY(-5px);
  cursor: pointer;
  color: rgb(3, 2, 2);
  opacity: 0.7;
}

.navigation {
  width: 50px;
  height: 50px;
  background: rgb(255, 255, 255);
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation.active {
  width: 200px;
  height: 200px;
}

.navigation.active img {
  transform: translate((12px, 12px));
}
.navigation img {
  position: absolute;
  width: 30px;
  height: 30px;
  //   background: transparent;
  transform: translate((12px, 12px));
  transition: transform 0.5s;
}
.dots {
  height: 25px;
  width: 25px;
  background: transparent;
  display: inline-block;
  background-color: white;
}

.Clock {
  margin-top: -35px;
  left: 0;
}

// Search box
